<h1>Company internal web address compressor</h1>
<% if @url %>
Your new url is <span class="bold">
<a href="<%= @url %>"><%= @url %></a>
</span><br />
For temporary use. May be deleted at some point to recover disk space.<br /><br />
<% else %>
<p>
Note: If you want a custom short URL try this link instead: <a href="http://short.cloudfoundry.com/customset">http://short.cloudfoundry.com/customset</a>
</p>
<% end %>
<form action="/set" method="post">
 <input name="urlin" type="text" />
 <input type="submit" value="Shrink" />
</form>


<br /><br />
